<body>
  <header>
    <h1>Games Hub</h1>
    <nav>
      <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/reviews">Reviews</a></li>
        <li><a href="/sign_in">Sign In</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Popular Games</h2>
    <form action="/new">
      <button>Add new game</button>
    </form>
    <div class="game_tiles">
      <%# will need to loop here for each item in db %>
      <%# each will have poster and basic details - title will open more details %>
      <% games.each do |game| %>
        <div class="game">
          <header>
            <h2><%= game['name'] %></h2>
          </header>
          <img src="<%= game['image_url'] %>" alt="">
        </div>
      <% end %>
    </div>
  </main>
  <footer>
    <a href="https://github.com/Onneqq">GitHub</a>
  </footer>
</body>
