Resolving dependencies...
<body>
  <header>
    <h1>Games Hub</h1>
    <nav>
      <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/reviews">Reviews</a></li>
        <li><a href="/Sign In">Sign In</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Popular Games</h2>
    <form action="/new">
      <button>Add new game</button>
    </form>
    <div class="grid-container">
      <%# will need to loop here for each item in db %>
      <%# each will have poster and basic details - title will open more details %>
      <div class="grid-item">1</div>
      <div class="grid-item">2</div>
      <div class="grid-item">3</div>
      <div class="grid-item">4</div>
      <div class="grid-item">5</div>
      <div class="grid-item">6</div>
      <div class="grid-item">7</div>
      <div class="grid-item">8</div>
      <div class="grid-item">9</div>
    </div>
  </main>
</body>
