<h1>Add New Game</h1>
<form action="/games" method="POST">
  <label for="">Name: </label>
  <input type="text" name="name">
  <label for="">Image URL: </label>
  <input type="text" name="image_url">
  <label for="">Game description: </label>
  <input type="text" name="game_description">
  <label for="">Genre: </label>
  <input type="text" name="genre">
  <label for="">Review Score: </label>
  <input type="number" name="review_score">
  <button>Add food</button>
</form>
