<div class="reviewnew">
  <h1>Add your review!</h1>
  <form action="/reviews/add/<%= gameid %>" method="POST">
    <label for="">Review: </label>
    <input type="text" name="review">
    <button>Submit</button>
  </form>
</div>
