<div class="addreviewpage">
  <h1><%= game[0]['name'] %> Reviews</h1>
  <form action="/reviews/<%= gameid %>/new">
    <button>Add a review!</button>
  </form>
  <div class="reviewtext">
    <% reviews.each do |i| %>
      <p> <%= i['review'] %> </p>
    <% end %>
  </div>
</div>
